@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;500;700&display=swap');

body {
	font-family: 'Cairo', sans-serif !important;
}

.chart-container {
	font-family: 'Cairo', sans-serif !important;
}

$color_1: #06345d;
$color_2: white;
$color_3: #fff;
$color_4: #1F272E;
$background-dark-blue: #06345d;
$background-color_1: #24b0c7;
$background-color_2: #b4f5ff;
$background-color_3: #4ec3d5;
$background-color_4: #204F79;
$background-color_5: var(--fg-hover-color);
$scrollbar-color: #178394;
$active_navbar: #178394;

.layout-side-section {
	@media screen and (min-width: 767px) {
		background-color: $background-color_1;
	}
	padding-top: 15px;
	color: #fff !important;

	.icon-btn {
		background-color: transparent !important;
		border: 1px solid $color_2;
	}

	.icon,
	.sidebar-label .icon {
		--icon-stroke: #fff;
		stroke: #fff !important;
		fill: transparent;
		stroke-width: 2;
	}

	.sidebar-label {
		color: $color_3;
	}

	p,
	.text-muted {
		color: #fff !important;
	}

	.checkbox .label-area {
		color: #fff;
	}

	a.add-group-by,
	a.list-tag-preview {
		color: #fff;

		&:hover {
			color: #fff;
		}
	}

	.sidebar-item-control .btn {
		background: transparent;
		border: 1px solid white;
	}
}

header.navbar.navbar-expand.sticky-top {
	background-color: $background-color_1;
}

.widget {
	border-radius: 20px;

	.widget-head {
		.widget-label {
			.widget-title {
				svg {
					--icon-stroke: #fff;
					stroke: #fff !important;
					fill: transparent;
					stroke-width: 2;
				}
				color: $color_2;
			}
		}
	}
}

.page-container {
	background-color: $background-color_2;

	.page-head {
		background-color: $background-color_2;
	}
}

.widget.links-widget-box {
	.link-item {
		color: $color_1;
		background-color: $background-color_5;

		&:hover {
			.indicator-pill {
				background: $active_navbar;
				color: $color_2;
			}
		}
	}
	background: $background-color_1 0% 0% no-repeat padding-box;
	border-radius: 30px;
	padding: 15px;
}

.list-sidebar {
	.sidebar-section {
		padding: 10px;
	}
}

.standard-sidebar {
	.standard-sidebar-item {
		background-color: $background-color_3;

		&:hover {
			background-color: $background-color_1;
		}
	}
	.standard-sidebar-item.selected {
		background-color: $active_navbar;
	}
}

.search-dialog .search-results .search-sidebar .standard-sidebar-item {
	background-color: $background-color_3;

	&:hover {
		background-color: $active_navbar;
	}
	.selected {
		background-color: $active_navbar;
	}
}

.desk-sidebar .standard-sidebar-item {
	background-color: $background-color_3;

	&:hover {
		background-color: $active_navbar;
	}
	.selected {
		background-color: $active_navbar;
	}
}

.page-content .desk-sidebar-item a {
	color: $color_2;
}

#navbar-breadcrumbs li.disabled a {
	color: $color_3;
}

#navbar-breadcrumbs a {
	color: $color_2;
	&::before {
		content: " ";
		border: solid #fff;
		border-width: 0 2px 2px 0;
		display: inline-block;
		padding: 3px;
		transform: rotate(-45deg);
		-webkit-transform: rotate(-45deg);
		margin-right: 10px;
	}
}

[data-page-route="Workspaces"] .layout-main {
	.layout-side-section {
		scrollbar-color: $scrollbar-color transparent;
		&::-webkit-scrollbar {
			width: 5px;
		}
		&::-webkit-scrollbar-thumb {
			background: $scrollbar-color;
			border-radius: 20px;
		}
		&::-webkit-scrollbar-track {
			background: #ddd;
			border-radius: 20px;
		}
	}
}

.navbar-nav .icon {
	--icon-stroke: #fff;
	stroke: #fff !important;
	fill: transparent;
	stroke-width: 2;
}

.standard-sidebar-label {
	color: $color_2;
}

.navbar .navbar-nav .nav-link {
	padding: 0;
	color: $color_2;
}

.widget.shortcut-widget-box {
	background: $background-color_1 0% 0% no-repeat padding-box;
	border-radius: 30px;
	padding: 15px;
	.widget-head .widget-title {
		color: $color_3 !important;
	}
	&:hover {
		background: $active_navbar 0% 0% no-repeat padding-box;
		.widget-title {
			color: $color_3 !important;
		}
	}
}

.indicator-pill.yellow {
	&:before, &:after {
		background: white;
	}
	background: $background-color_1;
	color: $color_2;
}

.workspace-skeleton .shortcut-widget-box {
	height: 50px;
}

.layout-main-section .ce-block__content .divider {
	display: none;
}

[data-theme=dark] .title-area .title-text {
	color: $color_4;
}

[data-theme=dark] .widget.links-widget-box .link-item {
	color: $color_3;
}

.layout-side-section {
	border-radius: var(--border-radius-md);
}

.checkbox .label-area {
	color: #2490ef;
}

.section-body [data-fieldname="items"] * {
	font-size: 11px;
}

.section-body .form-grid .grid-heading-row {
	background-color: $background-color_1;
}

